html {
	box-sizing: border-box;
}

body {
	background-color: var(--body-grey);
	font-family: 'font', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--yellow: #c93;
    --pale-yellow: #f0bf5f;
    --black: #000;
    --white: #fff;
    --grey: #666;
    --pale-grey: #999;
	--body-grey: #f1f1f1;
	--grey-header: #333;
	--yellow-phone: #CC9933;
	--yellow-active: #A47312;
	--grey-border: #e9e9e9;
	--border: solid 1px var(--grey-border);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'MullerRegular', sans-serif;
    padding-top: 30px;
}

h1 {
	height: 100%;
}

h2 {
	margin: 0;
	font-weight: 400;
    font-size: 40px;
    color: var(--grey-header);
    margin-bottom: 20px;
    margin-left: 40px;
}

h3,h4,h5,p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

input, select {
	border: none;
	-webkit-appearance: none;
}

@font-face {
	font-family: 'MullerBold';
	src: local('MullerBold'), local('MullerBold'),
		url('/assets/fonts/MullerBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MullerLight';
	src: local('MullerLight'), local('MullerLight'),
		url('/assets/fonts/MullerLight.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MullerMedium';
	src: local('MullerMedium'), local('MullerMedium'),
		url('/assets/fonts/MullerMedium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MullerRegular';
	src: local('MullerRegular'), local('MullerRegular'),
		url('/assets/fonts/MullerRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

.btn__reset {
	padding: 0;
	border: none;
	background: none;
}

.flex {
	display: flex;
}

.text-cust {
    font-weight: 400;
    font-size: 16px;
}

.back-cust {
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.contacts__animation {
    transition: color 0.3s ease-in-out;
}

/* Стилизация ссылки 'contacts__animation' при использовании */
.contacts__animation:focus-visible{
    outline-offset: 3px;
    outline: 1px solid var(--yellow-phone);
}

.contacts__animation:hover {
    color: var(--pale-yellow);
}

.contacts__animation:active {
    color: var(--yellow-active);
    outline: none;
}
/* ------------------------------------------ */


/* Стилизация кнопок при использовании */
.button__interaction:focus-visible, .button__interaction:hover {
    color: var(--white);
	background-color: var(--yellow-phone);
	outline: none;
}

.button__interaction {
	transition: .5s;
}

.button__interaction:active {
    background-color: var(--yellow-active);
	color: var(--white);
    outline: none;
}
/* ------------------------------------------ */



.footer__animation {
    transition: color 0.3s ease-in-out;
}

/* Стилизация ссылки 'footer__animation' при использовании */
.footer__animation:focus-visible{
    outline-offset: 3px;
    outline: 1px solid var(--yellow-phone);
}

.footer__animation:hover {
    color: var(--pale-yellow);
}

.footer__animation:active {
    color: var(--yellow-active);
    outline: none;
}
/* ------------------------------------------ */