.container {
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'MullerRegular', sans-serif;
    padding-top: 30px;
}



/* Семантический тег <header> / Шапка сайта */
.header {
    margin-bottom: 70px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    
}

.logo-phone-box {
    align-items: center;
    gap: 40px;
}

.header-logo {
    width: 261px;
    height: 54px;
}

.header-contact-number {
    font-weight: 500;
    font-size: 20px;
    color: #666;
    font-family: 'MullerMedium', sans-serif;
}

.header-back-to-personal-account {
    font-weight: 400;
    font-size: 16px;
    color: #c93;
}

.back-to-personal-account-link {
    display: flex;
    gap: 20px;
}



/* NAV / НАВИГАЦИЯ */
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 45px;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 45px;
}

.nav-item {
    font-weight: 400;
    font-size: 16px;
    color: #666;
}

.button-vrap {
    display: flex;
    gap: 40px;
}

.header-btn {
    border: 1px solid #c93;
    border-radius: 10px;
    padding: 13px 20px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    color: #c93;
}



/* Секция СПЕЦПРЕДЛОЖЕНИЯ */
.special-offers-section {
    margin-bottom: 70px;
}

.special-offers-title {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 0;
    font-weight: 400;
    font-size: 40px;
    color: #333;
    height: 40px;
    width: 357px;
}

.special-offers-wrap{
    display: flex;
    gap: 24px;

}

.left-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left-block-item {
    width: 573px;
    height: 258px;
    border-radius: 15px;
}

.first-card {
    background:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/assets/img/maldives-background.svg);
}

.special-offers {
    display: flex;
    flex-direction: column;
    margin: 40px 108px 40px 45px;
}

.special-item-title {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
    font-family: 'MullerBold', sans-serif;
}

.special-item-price {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    opacity: 0.8;
    margin-bottom: 47px;
}

.more-about-this-link {
    font-weight: 400;
    font-size: 16px;
    color: #f0bf5f;
}

.second-card {
    background:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/assets/img/background-island-crete.svg);
}

.right-block-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 573px;
    height: 540px;
    background-image: url(/assets/img/luxury-room-background.svg);
}

.right-special-offers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 45px;
    margin-bottom: 40px;
}

/* special-item-title 3 */
.sit3 {
    font-size: 60px;
    margin-right: 229px;
}

/* special-item-price 3 */
.sip3 {
    font-size: 30px;
}



/* Секция О НАС */
.about-us-title {
    font-weight: 400;
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 40px;
}

.about-us-message {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000;
    height: 192px;
    width: 888px;
    margin-bottom: 70px;
}



/* Секция УСЛУГИ */