/* Семантический тег <header> / Шапка сайта */
.header {
    margin-bottom: 70px;
}

.header-top {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo-phone-box {
    align-items: center;
    gap: 40px;
}

.header-logo {
    width: 261px;
    height: 54px;
}

.header-contact-number {
    font-weight: 500;
    font-size: 20px;
    color: var(--grey);
    font-family: 'MullerMedium', sans-serif;
}

.header-back-to-personal-account {
    font-weight: 400;
    font-size: 16px;
    color: var(--yellow);
}



/* NAV / НАВИГАЦИЯ */
.header-bottom {
    justify-content: space-between;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
    background-color: var(--white);
    border-radius: 15px;
    width: 1170px;
    height: 70px;
}

.nav {
    flex-direction: row;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 45px;
}

.nav-item {
    font-weight: 400;
    font-size: 16px;
    color: var(--grey);
}

.button-wrap {
    gap: 40px;
}

.btn {
    border: 1px solid var(--yellow);
    border-radius: 10px;
    padding: 13px 20px;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    color: var(--yellow);
}


.main {
    margin-bottom: 40px;
}


/* Секция СПЕЦПРЕДЛОЖЕНИЯ */
.special-offers-section {
    margin-bottom: 70px;
}

/* h1 */
.special-offers-title {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 0;
    font-weight: 400;
    font-size: 40px;
    color: var(--grey);
    height: 100%;
}

.special-offers-wrap{
    gap: 24px;
}

.left-block {
    flex-direction: column;
    gap: 24px;
}

.left-block-item {
    width: 573px;
    border-radius: 15px;
}

.first-card {
    background:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/assets/img/maldives-background.png);
    height: 100%;
}

.special-offers {
    flex-direction: column;
    margin: 40px 108px 40px 45px;
}

.special-item-title {
    font-weight: 700;
    font-size: 40px;
    color: var(--white);
    margin-bottom: 15px;
    font-family: 'MullerBold', sans-serif;
}

.special-item-price {
    font-weight: 400;
    font-size: 20px;
    color: var(--white);
    opacity: 0.8;
    margin-bottom: 47px;
}

.more-about-this-link {
    color: var(--pale-yellow);
    align-items: center;
    gap: 5px;
}

.second-card {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/assets/img/background-island-crete.png);
    height: 100%;
}

.right-block-item {
    flex-direction: column;
    justify-content: flex-end;
    width: 573px;
    height: 100%;
    background-image: url(/assets/img/luxury-room-background.png);
    border-radius: 15px;
    height: 100%;
}

.right-special-offers {
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 45px;
    margin-bottom: 40px;
}

.right-special-item-title {
    font-size: 60px;
    margin-right: 229px;
}



/* Секция О НАС */
.about-us-message {
    line-height: 200%;
    color: var(--black);
    height: 100%;
    width: 888px;
    margin-bottom: 70px;
}



/* Секция УСЛУГИ */
.services-list {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 24px;
    margin-bottom: 70px;
}

.services-card-prew {
    border-radius: 15px 15px 0 0;
    width: 573px;
    height: 165px;
}
.services-card-body {
    border-radius: 0 0 15px 15px;
    width: 573px;
    padding-top: 26px;
    padding-right: 26px;
    padding-bottom: 45px;
    padding-left: 45px;
    background-color: var(--white);
    /* transform: rotate(180deg); */
}

.service-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: var(--yellow);
    font-family: 'MullerMedium', sans-serif;
    align-items: center;
    gap: 5px;
    /* transform: rotate(180deg); */
}

.card-body-text {
    line-height: 200%;
    color: var(--black);
    /* transform: rotate(180deg); */
}


/* 1 карточка */
.one-prew {
    background-image: url(/assets/img/exclusive-service.svg);
}

/* 2 карточка */
.two-prew {
    background-image: url(/assets/img/rent-of-banquet-halls.svg);
}

/* 3 карточка */
.three-prew {
    background-image: url(/assets/img/saunas-baths-fitness.svg);
}

/* 4 карточка */
.four-prew {
    background-image: url(/assets/img/guarded-car-parks.svg);
}



/* Секция ПРЕИМУЩЕСТВА */
.advantages {
    margin-bottom: 70px;
}

.advantages-list {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 22px;
    flex-wrap: wrap;
}

.advantages-item {
    border-radius: 15px;
    width: 276px;
    height: 100%;
    background-color: var(--white);
    padding-bottom: 32px;
}

.advantages-background {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 45px;
}

.advantages-item-text {
    line-height: 200%;
    color: var(--black);
    width: 189px;
    height: 100%;
    margin-left: 45px;
}

.bathtub-icon {
    background-image: url(/assets/img/bathtub-icon.svg);
    width: 64px;
    height: 66px;
}

.hanger-icon {
    background-image: url(/assets/img/hanger-icon.svg);
    width: 67px;
    height: 66px;
}

.heating-icon {
    background-image: url(/assets/img/heating-icon.svg);
    width: 64px;
    height: 66px;
}

.key-icon {
    background-image: url(/assets/img/key-icon.svg);
    width: 66px;
    height: 66px;
}

.parking-icon {
    background-image: url(/assets/img/parking-icon.svg);
    width: 66px;
    height: 66px;
}

.reception-icon {
    background-image: url(/assets/img/reception-icon.svg);
    width: 64px;
    height: 66px;
}

.security-box {
    background-image: url(/assets/img/security-box.svg);
    width: 67px;
    height: 66px;
}

.swimming-pool-icon {
    background-image: url(/assets/img/swimming-pool-icon.svg);
    width: 64px;
    height: 66px;
}



/* Секция РАЗМЕЩЕНИЕ */
.placement-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.placement-item {
    border-radius: 15px;
    width: 374px;
    height: 100%;
    background-color: var(--white);
    padding-bottom: 45px;
}

.placement-card-body {
    margin-top: 32px;
    margin-left: 45px;
}

.placement-grey-text {
    color: var(--pale-grey);
}

.placement-black-price {
    font-family: 'MullerBold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--black);
    margin-right: 4px;
    margin-left: 4px;
}

.placement-price-black {
    color: var(--black);
}

.placement-card-pr-ra {
    flex-direction: row;
    gap: 52px;
    margin-bottom: 16px;
}

.placement-card-name {
    color: var(--black);
    margin-bottom: 16px;
}

.placement-card-address {
    margin-bottom: 20px;
}


/* ДЕВЯТАЯ "особая" карточка размещения */
.placement-special-item {
    border-radius: 15px;
    width: 373px;
    min-height: 440px;
    background-image: url(/assets/img/placement-special-item-background.svg);
    flex-direction: column-reverse;
    align-items: center;
}

.placement-special-item-container {
    width: 265px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: var(--white);
    font-family: 'MullerMedium', sans-serif;
}

.placement-special-item-link {
    gap: 5px;
    align-items: center;
    margin-bottom: 27px;
}



/* Секция  "ХОЧУ ТУР" или "БЛОГ" */
.want-a-tour {
    border-radius: 15px;
    width: 1170px;
    background-color: var(--grey-border);
    padding-bottom: 45px;
    margin-bottom: 70px;
}

.want-a-tour-title {
    color: var(--black);
    padding-top: 45px;
}

.want-a-tour-form {
    background: var(--white);
    border-radius: 15px;
    width: 1080px;
    margin-left: 45px;
    gap: 41px;
    padding-bottom: 32px;
}

.form-city {
    margin-left: 28px;
}

.form-title {
    font-weight: 400;
    font-size: 12px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 31px;
}

.form-input-field {
    color: var(--black);
}

.form-input-nights {
}

.form-btn {
    margin-left: 10px;
    margin-top: 31px;
    padding: 13px 30px;
    width: 110px;
    background-color: var(--white);
}



/* Секция  КОНТАКТЫ */
.contacts-main-title {
    color: var(--black);
}

.contacts-container {
    border-radius: 15px;
    width: 1170px;
    background-color: var(--white);
}

.contacts {
    flex-direction: column;
    margin: 45px;
    margin-right: 52px;
    width: 375px;
}


/* Адрес */
.contacts-addresses {
    gap: 83px;
    margin-bottom: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid var(--grey-border);
}

.contacts-title {
    font-family: 'MullerBold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--black);
}

.addresses-text {
    line-height: 150%;
    color: var(--black)
}


/* Телефоны */
.contacts-phones {
    gap: 47px;
    margin-bottom: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid var(--grey-border);
}

.cell-phones {
    flex-direction: column;
}

.personal-contacts {
    line-height: 150%;
    color: var(--yellow-phone);
}


/* Email */
.contacts-email {
    gap: 93px;
    margin-bottom: 25px;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--grey-border);
}

.grey-text-email {
    line-height: 150%;
    color: var(--pale-grey);
}


/* График */
.contacts-schedule {
    gap: 74px;
    margin-bottom: 45px;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--grey-border);
}

.schedule-text {
    line-height: 150%;
    color: var(--black);
}


/* Построить маршрут */
.contacts-btn {
    color: var(--yellow-phone);
    border: 1px solid var(--yellow-phone);
    border-radius: 10px;
    padding: 15px 20px;
    width: 200px;
    height: 70px;
}


/* Картинка в Секции КОНТАКТЫ  */
.contacts-img {
    border-radius: 10px;
    width: 653px;
    margin: 45px;
}



/* FOOTER */
.basement {
    border-radius: 15px;
    width: 1170px;
    height: 100%;
    background-image: url(/assets/img/gray-background-footer.svg);
    margin-bottom: 30px;
    gap: 125px;
    position: relative;
}

.first-block-footer {
    flex-direction: column;
    gap: 37px;
    padding: 45px;
    padding-right: 0;
    width: 390px;
}

.footer-text {
    line-height: 190%;
    color: var(--white);
}

.footer-link {
    line-height: 150%;
    color: var(--yellow-phone);
}

.second-block-footer {
    flex-direction: column;
    gap: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.footer-tell-mail {
    flex-direction: column;
}

/* СОЛНЦЕ */
.third-block-footer {
    background-image: url(/assets/img/sun-of-the-lagoon.svg);
    width: 254px;
    height: 228px;
    position: absolute;
    left: 739px;
    bottom: 1px;
}

.social-networks {
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 45px;
    top: 45px;
}